div{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
a{
    background-color: #0000ff;
    border-radius: 5px;
    height: 10vh;
    width: auto;
    margin: 0 200px;
    font-size: 2em;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;

}
.a1:hover{
    background-color: chartreuse;

}
.a2:focus{
    background-color: chocolate;
}
.a3:active{
    background-color: darkgoldenrod;
}
